body {
    background-image: url('wallpaper.jpg');
    background-position:fixed;
    background-size: cover;
}
a {
    color:rgb(225, 231, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 1250px;
}
.text {
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
